@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
dd,
details,
div,
dl,
dt,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
legend,
li,
main,
menu,
nav,
ol,
p,
pre,
section,
summary,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
tr,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
  word-break: break-all;
}
a,
em,
span {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
b,
strong {
  font-weight: 600;
}
address,
cite,
dfn,
em,
i {
  font-style: normal;
}
img {
  border: none;
  vertical-align: middle;
}
a:link,
a:visited {
  text-decoration: none;
  color: #000000;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.clearfix {
  display: block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

::before,
::after {
  display: none;
  content: '';
}

/* navBar */
.wrap {
  overflow: hidden;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; /* outline:2px solid #fff; */
}
header .wrap {
  display: flex;
}

/* logo */
.logo {
  display: inline-block;
  padding: 30px 0 17px 35px;
}

/* gnb */
.gnb {
  display: inline-block;
  margin-left: 146px;
}
.gnb ul li {
  display: inline-block;
  text-align: center;
}
.gnb ul li a {
  padding: 42px 0 41px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 26px;
  letter-spacing: 0;
}
.gnb ul li:not(:first-child) {
  margin-left: 126px;
}

/* buttonArea */
.buttonArea {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-left: 40px;
}
.buttonArea a {
  display: inline-block;
  color: #fff;
  /* padding: 42px 0 41px; */
  /* font-size: 18px; */
  font-weight: 600;
  /* line-height: 26px; */
  letter-spacing: 0;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 4px;
}

.rowgroup1 {
  /* min-height:622px; */
  background: rgb(60, 77, 66);
  background: radial-gradient(
    circle,
    rgba(60, 77, 66, 1) 0%,
    rgba(18, 13, 12, 1) 100%
  );
}
.rowTitle {
  margin: 60px 0 27px 66px;
  font-size: 20px;
  line-height: 1em;
  color: #ffffff;
}

header {
  height: 109px;
  background-color: #000;
  border-bottom: 1px solid #ffffff;
}

/* ------------------- */
body {
  background-color: white;
}

li {
  list-style: none;
  display: inline-block;
}
.nav-link {
  text-decoration: none;
  color: rgb(125, 125, 125);
  font-size: 15px;
}
.nav-link:hover {
  color: black;
}
.age-12 {
  width: 23px;
  height: 23px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/12_46x46.png);
  background-size: 23px 23px;
}

.age-15 {
  width: 23px;
  height: 23px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/15_46x46.png);
  background-size: 23px 23px;
}

.age-all {
  width: 23px;
  height: 23px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/ALL_46x46.png);
  background-size: 23px 23px;
}

.age-19 {
  width: 23px;
  height: 23px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/19_46x46.png);
  background-size: 23px 23px;
}

/* 영화관 사진 */

.carousel-item img {
  height: 420px;
}

/* 상영 시간표 */

.movie {
  border-top: 2px solid black;
}

.timetable {
  width: 980px;
  background-color: white;
  margin-top: 20px;
}

.showing {
  border: 2px solid #3e82a4;
  color: #3e82a4;
  font-size: 12px;
  font-weight: 700;
}

.title {
  font-size: 18px;
  font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum,
    sans-serif;
}
.movieGenre {
  font-size: 12px;
}

.movieInfo {
  font-size: 12px;
  border-right: 2px solid rgb(158, 158, 158);
  padding-right: 10px;
  font-weight: 700;
}
.movieSeat {
  font-size: 12px;
  font-weight: 700;
}

.time {
  margin-top: 10px;
  margin-left: 30px;
}
.time strong {
  display: block;
  font-family: verdana, sans-serif;
  font-size: 12px;
}
.time span {
  display: block;
  font-size: 11px;
  text-align: center;
}
.time > ul > li {
  border: 1px solid #aaa;
  width: 50px;
  height: 42px;
  text-align: center;
}

.time a {
  color: inherit;
  text-decoration: none;
  display: block;
  position: relative;
}

.time > ul > li:hover,
.time > ul > li:hover a {
  background-color: #252451;
  cursor: pointer;
  color: white;
}
.time > ul > li.soldout:hover,
.time > ul > li.soldout:hover a {
  background-color: red;
}
.carousel {
  left: 12%;
  position: relative;
  width: 100%;
  max-width: 980px;
  display: flex;
  justify-content: center;
}

.dropdown-item {
  font-size: 16px;
}

#table2,
#table3,
#table4,
#table5,
#table6,
#table7 {
  display: none;
}

@media (max-width: 1400px) {
  .theaterImg {
    display: none;
  }
}
/* 작은 좌석표 */

/* ------------------- */

/* .rank {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 150px;
  color: #fff;
  padding: 10px 0 0 15px;
  line-height: 1.1;
  font-size: 2em;
  font-style: italic;
  font-family: 'Roboto';
  font-weight: 300;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  background: url(../images/main/bg-main-movie-rank.png) no-repeat 0 0;
}

.grade-box {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
}

.grade {
  width: 28px;
  height: 28px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/12_56x56.png);
  background-size: 28px 28px;
} */
